<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Results for Match-A-Word!</title>
        <style media="screen">
            .red_text {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Match-A-Word!</h1>
            </div>
            <h1>Here are the results of your search</h1>
            {%  if values[0] == "No match. Try again." %}
            <h4 class="red_text">{{ values[0] }}</h4>
            {% else %}
            <h4>Your word was found {{ values[0] }} times</h4>
            {% endif %}
            <p>
                The word you searched for: {{ values[1] }}.
            </p>
            <p>
                The text you searched in:<br />
                {{ values[2] }}
            </p>
            <p><a class='btn btn-primary btn-lrg' href='/' role='button'>Play Again!</a></p>
        </div>
    </body>
</html>
